body {
  font-family: 'Cagliostro', sans-serif !important;
  background-color: #c4be91 !important;
  width: 100% !important;
}
#title {
  text-align: center;
  color: #666633;
  padding-top: 20px;
  padding-bottom: 40px;
}
#quoteContent {
  position: relative;
  background-color: white;
  border: 1px solid #666633;
  border-radius: 15px;
  width: 90%;
  height: 200px;
  font-size: 1.5em;
  text-align: center;
  overflow: scroll;
}
.wrapper {
  position: absolute;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.btn {
  border: 1px solid #666633;
  color: #666633;
}
.btn:hover {
  background-color: #666633 !important;
  color: white !important;
  text-decoration: none;
	-webkit-transition: all 0.5s ease;
}
.btn:focus {
  background-color: #fff !important;
  color: #666633 !important;
}
.buttons div {
  padding: 5px;
}
#getQuote {
  height: 44.5px;
  line-height: 30.5px;
}
#tweet {
  width: 123.625px;
}
footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
  background-color: #666633;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
footer div span a {
  color: white;
  text-decoration: none;
}
footer div span a:hover {
  text-decoration: none;
  color: #c4be91;
  -webkit-transition: all 0.5s ease;
}